* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: #FFFFFF;
    background-color: orange;
    padding: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header.title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.content {
    background-color: silver;
    color: #000000;
    margin-block: 0px;
    margin-bottom: 8px;
    padding-block: 8px;
    padding-inline: 64px;
}

.section {
    color: #FFFFFF;
    background-color: orange;
}