* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    color: #FFFFFF;
    background-color: orange;
}

.header.title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.content {
    background-color: silver;
    color: #000000;
}

.section {
    color: #FFFFFF;
    background-color: orange;
}